html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color:#1c4587;
    padding: 20px 5px 5px 5px;
}

footer {
    position: absolute;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 0;
}

#foot {
    background-color:#1c4587;
    height: 200px;
}

tr {
    height: 30px;
}

.heading {
    text-align: center;
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: initial;
    margin: 0;
    padding: 0;
}

.important {
    border-top: solid 20px #cee2f4;
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    padding-top: 15px;
}

#main-container {
    width: 500px;
    margin: auto;
}

#p-container {
    padding: 0 30px 0 30px;
}

#side-container {
    display: table;
    width: 30%;
    float: right;
    margin: 30% 20% 20%;
}

.side-heading {
    font-size: 20px;
}

.side-content {

}

.side-p {
    font-size: 12px;
}